#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://idsb.tmgrup.com.tr/ly/uploads/images/2021/06/28/124886.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#hero h1 {
    font-size: 50px;
    border-bottom: 20px white;
}

.team {
    background-color: #19495dbc;
    height: 200px;
    width: 30%;
    border-radius: 12px;
}

.team div {
    display: flex;
}

.team img {
    height: 50px;
    width: 50px;
    background-color: white;
    object-fit: cover;
    border-radius: 100px;
}